LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
GOOGLE_API_KEY=
MEM0_API_KEY=
JARVEZ_USER_NAME=Guilherme
HOME_ASSISTANT_URL=
HOME_ASSISTANT_TOKEN=
ACTION_CONFIRMATION_TTL_SECONDS=60
HOME_ASSISTANT_TIMEOUT_SECONDS=5
HOME_ASSISTANT_RETRY_COUNT=2
HOME_ASSISTANT_ALLOWED_SERVICES=light.turn_on,light.turn_off
